.header
  width 100%
  position fixed
  top 0
  left 0
  right 0
  background rgba(255,255,255,0)

.header_content
  max-width 1000px
  margin 0 auto
  padding 20px 15px
  display flex
  align-items center
  justify-content space-between
  @media screen and (max-width 650px)
    justify-content center
    padding 70px 15px

.logo
  max-width 190px
  width 100%
  object-fit contain

.info_section
  display flex
  align-items center
  padding-left 20px
  width 100%
  max-width 300px
  @media screen and (max-width 650px)
    display none


.phone_section
  display flex
  align-items center
  font-weight  bold
  font-size 16px
  font-family Montserrat, sans-serif
  letter-spacing 0
  color #FFFFFF
  opacity 1
  padding-right 50px
  text-decoration none
  outline none !important
  &:hover
    text-decoration underline
    cursor pointer
  img
    width 25px
    height 25px
    padding-right 10px

.socials_section
  display flex
  align-items center
  a
    margin-right 20px
    outline none !important
    &:last-of-type
      margin-right 0 !important
    img
      width 20px
      height 20px

