.footer
  width 100%
  text-align center
  display none
  position absolute
  bottom 0
  padding-bottom 60px
  @media screen and (max-width 650px)
    display flex
    align-items center
    justify-content space-evenly
  a
    outline none !important
    margin-right 50px
    &:last-of-type
      margin-right 0 !important
    img
      width 35px
      height 35px



