.main_page
  background-image url("./../../assets/images/background-image.jpg")
  width 100%
  height 100%
  background-position center
  background-size cover
  background-repeat no-repeat

.main_page_content
  display flex
  flex-direction column
  justify-content center
  align-items center
  height 100%
  padding 0 15px
  h1
    text-align center
    font-weight bold
    font-size 55px
    font-family Montserrat, sans-serif
    letter-spacing 0
    color #FFFFFF
    text-transform uppercase
    opacity 1
    margin-bottom 40px
    @media screen and (max-width 900px)
      font-size 45px
    @media screen and (max-width 650px)
      font-size 26px

.contacts_wrapper
  display flex
  align-items center
  @media screen and (max-width 650px)
    flex-direction column
  .button, .mobile_button, .email_button
    padding 20px 25px 20px 53px
    border 2px solid #FFFFFF
    border-radius 99px
    opacity 1
    background rgba(255,255,255,0)
    color white
    text-align center
    font-weight bold
    font-family Montserrat, sans-serif
    font-size 16px
    letter-spacing 0
    text-decoration none
    min-width 280px
    position relative
    outline none !important
    &:hover
      background white
      color black
      svg
        fill black
    svg
      width 30px
      fill white
      position absolute
      left 20px
      top 12px
      display inline-block
      vertical-align middle
      margin-right 20px
      &:first-of-type
        height 30px
      @media screen and (max-width 650px)
        top 17px

.button
  margin-right 20px
  min-width 220px !important
  @media screen and (max-width 650px)
    margin-right 0 !important
    padding 20px 105px !important
    min-width 0 !important
    margin-bottom 15px
    font-size 24px !important
  @media screen and (max-width 420px)
    padding 20px 80px !important


.email_button
  @media screen and (max-width 900px)
    min-width 0 !important
  @media screen and (max-width 650px)
    margin-bottom 15px
    font-size 24px
  @media screen and (max-width 650px)
    display none

.mobile_button
  display none
  @media screen and (max-width 650px)
    display inline-block
    font-size 24px !important
  @media screen and (max-width 420px)
    min-width 230px !important
